/* Universal Style */

html {
    height: 100%;
    margin: 0;
    overflow: scroll;
}
body {
    background-image: url("../PortfolioPage/boris-stefanik-wxJscL5ZzDA-unsplash.jpg");
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    overflow: scroll;
}

/* Nav Section */

nav {
    background-color: #32312e;
    /* opacity: 0.7; */
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navBar {
    display: flex;
    justify-content: center;
}

#navUl {
    margin: 0;
    height: 50px;
    display: flex;
}

#navLi {
    list-style-type: none;
    display: inline;
    padding: 10px 50px 10px 50px;
    font-size: 22px;
    color:mintcream;
}

@media screen and (max-width: 700px) {
    #navBar {
        height: 200px;
    }
    #navLi {
        background-color: #32312e;
    }
    #navUl {
        flex-direction: column;
    }
    .projectSection {
        margin-top: 160px;
    }
}


/* Main */

.mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:darkgrey;
}

@media screen and (max-width: 500px) {
   body {
        font-size: 10px;
    }
}

.nameColor {
    color: #77643f;
}

.contactColumns {
    display: flex;
    justify-content: center;
}

.dualColumns {
    display: flex;
    justify-content: center;
    flex: 50%;
    padding: 10px;
    margin-top: 133px;
    align-items: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: -200px;
}

#portfolioButton {
    background: none;
    color: darkgrey;
    padding: 10px 11px;
    margin-top: 8px;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid darkgrey;
    cursor: pointer;
    box-shadow: 1px 1px darkgrey;
    transition: 0.4s;
}

#formSubmitButton {
    background: none;
    color: darkgrey;
    padding: 10px 11px;
    margin-top: 8px;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid darkgrey;
    cursor: pointer;
    box-shadow: 1px 1px darkgrey;
    transition: 0.4s;
}

#formSubmitButton:hover {
    background: darkgrey;
    color: black;
}

input, textarea {
    font-family: 'Roboto Mono', monospace;
    background-color:silver;
}

textarea {
    height: 140px;
}

input {
    height: 35px;
}

textarea::placeholder {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}

input::placeholder {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
}

#contactForm input {
    margin-top: 10px;
    margin-bottom: 20px;
}

#contactForm textarea {
    margin-top: 10px;
    margin-bottom: 20px;
}


a {
    text-decoration: none;
}

a:visited {
    color: mintcream;
    display: inline-block;
}

a:hover {
    color: mintcream;
    text-decoration: line-through;
}

a:active {
    color: mintcream;
}

.contactText {
    width: 450px;
    line-height: 44px;
    text-align: justify;
}

img {
    padding: 0px 15px;
}

.envelope {
    filter: brightness(60%);
    margin-left: -200px;
}

/* Portfolio */

.projectSection {
    width: 100%;
    min-height: 100vh;
    top: 0;
    padding: 70px 0px 100px;
    transition: 1s;
    display: block;
}

.projectHeading {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 35px;
    font-size: 40px;
    color: mintcream;
}

.projectContainer {
    display: grid;
    grid-template-columns: 388px 388px;
    grid-gap: 180px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .projectContainer {
        display: flex;
        flex-direction: column;
    }
    .projectInfo {
        font-size: 5px;
    }
}

.projectCard {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImg {
    object-fit: cover;
    transition: 0.5s;
    position: absolute;
}

.projectContent {
    position: relative;
    opacity: 0;
    transition: 0.7s;
}

.projectButtonGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#portfolioButton:hover {
    background: darkgrey;
    color: black;
}

.projectButton {
    height: 30px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    border: none;
    background: #000;
    color: mintcream;
    cursor: pointer;
}

.projectButton.live {
    background: none;
    border: 2px solid darkgray;
}

.projectCard:hover .projectImg {
    filter: blur(20px);
}

.projectCard:hover .projectContent {
    opacity: 1;
}

.projectButton.github {
    margin-left: 25px;
    margin-right: 5px;
    padding-right: 25px;
    padding-left: 25px;
    color: darkgray;
}

.projectButton.live {
    margin-left: 5px;
    margin-right: 25px;
    color: darkgray;
    padding: 2px;
    width: 159px;
}

.projectContent h1 {
    text-align: center;
    color: darkgrey;
}

.projectInfo {
    margin: 18px 10px 18px 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: darkgray;
}

#aboutContent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
}

#aboutPara {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.9em;
}

#contactText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    color: mintcream;
    line-height: 1.9em;
}



